<div class="card">

  <!--Card image-->
  <img class="card-img-top img-fluid" src= {{collegue.image}} alt="Card image cap">

  <!--Card content-->
  <div class="card-body">

    <div class="col mt-2">

        <div class="row">

            <div class="col-12">{{collegue.pseudo}}</div>

        </div>

        <div class="row">

            <div class="col-12">{{collegue.score}}</div>

        </div>

        <div class="row justify-content-end mt-2">

            <div class="col-12">
                <app-avis-component (avisEvent)="impactForm($event)"></app-avis-component>
            </div>

        </div>
    </div>

    <p class="card-text">{{score}}</p>
    
  </div>

</div>
