<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  amber darken-2">
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
                <li class="nav-item"  routerLinkActive="active-link orange darken-2"><a class="nav-link" routerLink="/accueil">Accueil</a></li>
                <li class="nav-item" routerLinkActive="active-link orange darken-2"><a class="nav-link" routerLink="/top3" >Top 3</a></li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>

