
<app-bandeau-component></app-bandeau-component>
<!--<div class="row">
    <div class="col-3 offset-1">
      <h6>AvisComponent</h6>
      <app-avis-component (avis) ="changerAvis($event)"></app-avis-component>
      <p>{{text}}</p>
    </div>
</div>
<div class="row">
  <div class="col-12 offset-1">
    <app-collegue-component [collegue]="collegueFictif"></app-collegue-component>
  </div>
</div>-->
<app-liste-collegues-component [listeCollegues]="listeColleguesFictifs"></app-liste-collegues-component>

