<div class="row">
    <div class="col-3 text-left">
        <button type="button" (click)="trier()" class="btn btn-outline-primary" mdbWavesEffect>Trier la liste</button>
    </div>
    <div class="col-3 offset-6 text-right">
        <button type="button" class="btn btn-outline-primary" routerLink="/collegues/nouveau" mdbWavesEffect>Ajouter</button>
    </div>
</div>
<div animated class="md-form justify-content-end mt-2">
    <input mdbActive mdbInputDirective type="text" (keyup)="mySaisie(saisieInput.value)" #saisieInput class="form-control">
    <label for="inputRecherche" class="">Filtrer par nom</label>
</div>
<div class="row">
    <div *ngFor="let coll of listeCollegues | filter:saisie" class="col-3 p-2">
        <app-collegue (newCollegue) ="aChanger($event)"   [collegue]="coll"></app-collegue>
    </div>
</div>

