
      <header>
        <app-bandeau></app-bandeau>
         
     </header>
        <app-menu></app-menu>
        
         
         
     
     <div id="content">
         <!-- le composant défini dans la route courante va être inséré à cet endroit -->
     
         <!-- au regard de la configuration précédente, 
             /page1 va insérer le composant AComponent à cet emplacement
             /page2 a insérer le composant BComponent à cet emplacement
         -->
         <router-outlet></router-outlet>
     </div>
     <footer>
          <!-- Pied de page -->
     </footer>
    