<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">

  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" routerLink="/accueil" routerLinkActive="active-link" mdbWavesEffect>Accueil</a>
      <a class="nav-item nav-link waves-light" routerLink="/collegues" routerLinkActive="active-link" mdbWavesEffect>Liste collègues</a>
      <a class="nav-item nav-link waves-light" routerLink="/demo" routerLinkActive="active-link" mdbWavesEffect>Demo</a>
    </div>
  </links>

</mdb-navbar>

<div id="content">
  <!-- le composant défini dans la route courante va être inséré à cet endroit -->

  <!-- au regard de la configuration précédente, 
            /page1 va insérer le composant AComponent à cet emplacement
            /page2 a insérer le composant BComponent à cet emplacement
        -->
  <router-outlet></router-outlet>

</div>

<footer>
  <!-- Pied de page -->
</footer>
