<div class="row">
  <button onclick="alert('Bouton pas encore developpé')" type="button" class="btn btn-primary waves-light" mdbRippleRadius>Raffraichir la liste</button>
</div>

    <!-- Grid row -->
    <div class="row">
      
        <!-- Material input -->
        <label for="inputEmail3MD" class="mt-2"><strong>Filtrer par pseudo :</strong></label>
        <div class = "col-4">
        <div class="col-sm-10">
            <div class="md-form mt-0">
                <input (keyup)= "filter(pseudoInput.value)" #pseudoInput type="email"  id="inputEmail3MD" placeholder="Pseudo">
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    
    <div *ngFor="let coll of listeCollegues | pseudo:pseudo " class="col-3 p-1 m-5" >
      <app-collegue  [collegue]="coll" ></app-collegue>
    </div>
  </div>
  
