<form #monForm="ngForm">
  <div class="row justify-content-center">
    <div class="col-5 mt-5">
      <p class="h4 text-center mb-4">Ajouter un nouveau collègue</p>

      <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input type="text" [(ngModel)]="monModel.matricule" name="inputMatricule" #matricule="ngModel" class="form-control" placeholder="Matricule"
          required>
        <label for="contactFormMatricule"></label>
      </div>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" [(ngModel)]="monModel.pseudo" name="inputPseudo" #pseudo="ngModel" class="form-control" placeholder="Pseudo"
          required minlength="2">
        <label for="contactFormPseudo"></label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="URL" [(ngModel)]="monModel.URL" name="inputURL" #URL="ngModel" class="form-control" placeholder="URL image">
        <label for="contactFormURL"></label>
      </div>

      <div class="text-center">
        <button (click)="submit()" type="submit"  class="btn btn-unique waves-light"  [disabled]="!monForm.form.valid">Ajouter
          <i class="fa fa-paper-plane-o ml-1"></i>
        </button>
      </div>

    </div>
  </div>
</form>
