
<!-- Card -->
<div class="card card-cascade wider reverse mt-5">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
      <a href="http://www.staggeringbeauty.com/">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>Mon application</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Developpement</h6>
      <!-- Text -->
      <p class="card-text">Bienvenue sur mon application ! 
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic" href=""><i class="fa fa-linkedin"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->
              