<div class="card">

  <!--Card image-->
  <img class="card-img-top img-fluid" src= {{collegue.urlImage}} alt="Card image cap">

  <!--Card content-->
  <div class="card-body">

    <div class="col mt-2">

        <div class="row">

            <div class="col-md-12 text-center">
                    {{collegue.nom}} {{collegue.prenom}}
            </div>

            <div class="col-md-12 text-center">
                    {{collegue.score}}
            </div>

        </div>

        <div class="row justify-content-center mt-2">

            <div class="col-12">
                <app-avis-component (avisEvent)="impactForm($event)" [score]= "collegue.score"></app-avis-component>
            </div>

        </div>
    </div>
    
  </div>

</div>
