<!--Card-->
<div class="card testimonial-card text-center">
  <br>
  <!--Avatar-->
  <div class="avatar mx-auto">
    <img src="{{ collegue.urlImage }}" class="rounded-circle">
  </div>

  <div class="card-body">
    <!--Name-->
    <a routerLink="/collegues/{{collegue.pseudo}}" routerLinkActive="active">
      <h4 class="card-title">@{{ collegue.pseudo | uppercase }}</h4>
    </a>
    <hr>
    <!--Quotation-->
    <span [innerHTML]="collegue.score | score "></span>
    <app-avis (choix)="updateScore($event)"></app-avis>
  </div>

</div>
<!--/.Card-->
